@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");

:root {
  --duration: 6s;
  --wave-duration: calc(var(--duration) * 0.25);
  --text-in-delay: calc(var(--duration) * 0.275);
  --text-in-duration: calc(var(--duration) * 0.1);
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
  --dot-color: #ffd950;
  --dot-color-dark: #977a12;
}

.explorer-body {
  height: 748px;
  width: 100%;
  background: #060506;
  color: white;
  font-family: "Heebo", sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  padding-top: 0px;
  z-index: 0;
}

.greet-container {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.greet-container > * {
  grid-area: 1 / 1;
}

.title {
  font-size: 10vmin;
  margin: 0;
  display: flex;
}

.char {
  position: relative;
  display: inline-block;
  --delay: calc(var(--text-in-delay) + (0.25s * (1 - var(--distance-percent))));
  animation: text-in var(--text-in-duration) var(--easing) var(--delay) backwards;
  transform-origin: center 1em;
}

@keyframes text-in {
  0% { opacity: 0; transform: translateX(calc(-0.4em * var(--char-offset))) scale(0); }
  90% { transform: translateX(0em) scale(1.1); }
}

/* Logic for special characters like 't' and 'i' */
.char[data-char="t"], .char[data-char="i"] {
  visibility: hidden;
}

.char[data-char="t"]::before, .char[data-char="i"]::before {
  content: attr(data-char);
  visibility: visible;
  position: absolute;
  top: 0; left: 0;
  transform-origin: center 1em;
  animation: text-squish var(--duration) var(--easing) forwards;
}

.char[data-char="t"] { --squish-scale: 0.6; --squish-y: 10%; }
.char[data-char="i"] { --squish-scale: 0.9; --squish-y: 5%; }

@keyframes text-squish {
  47.5%, 52.5% { transform: none; }
  50% { transform: translateY(var(--squish-y)) scaleY(var(--squish-scale)); }
}

.char:last-child {
  animation: text-in var(--text-in-duration) var(--easing) var(--delay) backwards,
             text-bonk var(--duration) var(--easing) forwards;
}

@keyframes text-bonk {
  80%, 85%, 100% { transform: none; }
  82% { transform: translateX(-20%); }
}

.dot {
  font-size: 5vmin;
  width: 1em;
  height: 1em;
  animation: dot var(--duration) var(--easing) both;
}

.dot-inner {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
  animation: dot-inner var(--duration) var(--easing) both;
}

.dot-inner > * { grid-area: 1 / 1; }

.dot-wave {
  width: 200%;
  height: 200%;
  fill: var(--dot-color);
  animation: wave-in var(--wave-duration) var(--easing);
  --offset-x: -110%;
}

@keyframes wave-in {
  0% { transform: translateY(100%) translateX(var(--offset-x)); }
  70% { transform: translateY(30%) translateX(0%); }
}

.dot-wave.background {
  fill: var(--dot-color-dark);
  animation-duration: calc(0.95 * var(--wave-duration));
  --offset-x: 110%;
}

@keyframes dot {
  0% { opacity: 0; transform: scale(3); }
  10% { opacity: 1; transform: scale(3); }
  15% { transform: scale(3) translateY(0.5em) scaleY(1.5); }
  20% { transform: scale(1) translateY(-300%); }
  30% { transform: translateY(1em) scaleY(0.5); }
  40% { transform: translateY(-400%); }
  50%, 56%, 62% { transform: translateY(-1em); }
  53%, 59% { transform: translateY(-300%); }
  80%, 100% { transform: translateY(1em); }
}

@keyframes dot-inner {
  0%, 45% { transform: none; }
  70% { transform: translateX(6em); animation-timing-function: cubic-bezier(0.5, 0, 1, 0); }
  80% { transform: translateX(4.3em); animation-timing-function: var(--easing); }
  83%, 100% { transform: translateX(4.4em); }
}